footer{

width:100%;

margin:0;

padding:40px 80px;

background:#C86B85;

}

/* oscuro */

body.dark footer{

background:#C86B85;

}

/* contenido */

.footerContent{

display:grid;

grid-template-columns:
1fr 2fr 1fr;

align-items:center;

gap:30px;

}

/* nombre */

.footerName{

color:rgb(255, 255, 255);

font-size:30px;

font-family:
"Cormorant Garamond";

}

/* frase */

.footerQuote{

text-align:center;

color:white;

font-size:19px;

line-height:1.9;

}

/* año */

.footerYear{

text-align:right;
font-size:20px;

color:

rgb(255, 255, 255);

}

/* responsive */

@media(max-width:900px){

footer{

padding:30px;

}

.footerContent{

grid-template-columns:
1fr;

text-align:center;

}

.footerYear{

text-align:center;

}

}