.tech{

padding:120px;

}

.techGrid{

display:grid;

grid-template-columns:
repeat(
3,
1fr
);

gap:20px;

}

.techCard{

padding:35px;

background:white;

border-radius:25px;

}

body.dark .techCard{

background:#222;

}